@import "roboto.css";
/*c node_modules подключаем через тильду */
@import "~normalize.css";


body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 2rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/webpack-logo.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}